#headTitle {
	padding: 2% 0 2% 0;
	background: rgb(44, 44, 44);
	margin: 0 0 3% 0 ;
	color: rgb(234,236,239);
}

.lists {
	color: rgb(234,236,239);
}

li.comingsoon {
	color: #777777;
}

ul{
	list-style-type: none;
	margin: 0 0 5% 0;
}

.hiding {
	display: none;
}

.showing {

}

a, a:link, a:visited {
   color:#2f4f4f;
}

a.internal {
	color:#2D8CEB;
}

#mainBody {
	color:rgb(234,236,239);
}

div.jumbo {
	background-color: #d9dbde;
	box-shadow: 0px 4px 2px #777777;
}