#title {
}

#aboutMe {
    text-align: justify;
    font-family: Raleway, sans-serif;
    padding-left: 18%;
    padding-right: 18%;
    opacity: 70%;
    line-height: normal;
}

strong {
    opacity: 100%;
}