---
---
<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ site.title }}</title>
    {% include favicon.html %}
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/zoom.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <script src="https://use.fontawesome.com/4c9066f1a6.js"></script>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
    </style>
  </head>
  <body>
    <div id="container">
      <!--------------- YOUR NAME OVER HERE -------------->
      <h2 id="title" class="header">{{ site.full_name }}</h2>
      <div id="gallery">
      </div>
      <hr>
      <div>
        <br/> <br/> <br/>
        <div id="aboutMe">
          My name is Bharat Srirangam and I'm an amateur photographer just trying to add to the photography world and hopefully get a couple of smiles too.
          <br/><br/><br/>
          I like to do freelance and volunteer portraiture and event photography with a little twist. In lieu of full payments, clients can make full or partial donations to a charity of their choice. If you don't have a charity in mind, I can give you one or two that I like.
          <br/><br/><br/>
          DM me on Instagram (link below) or Email me at <u>bharshots@gmail.com</u> for inquiries or if you just need a volunteer photographer.
          <br/><br/>
          Linked below is my Flickr Archive with more of my work that you can look at. 
        </div>
        <br/>
        <a href="https://www.flickr.com/people/193443004@N02/"><img src="ProfilePictures/flickrReSized.jpg" class="rounded-circle" style="width:7%; height:auto; border-radius:50%; padding-left: 45%;"/></a>
      </div>
    </div>
    <div class="footer">
      <div class="links">
        <a id="instagram" class="links__icon" href="https://www.instagram.com/{{ site.instagram }}">
          <span class="view-ig"> View {{ site.full_name }}'s Instagram </span>
          <i class="fa fa-instagram fa-lg"></i>
        </a>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js"></script>
  <script src="js/transition.js"></script>
  <script src="js/zoom.min.js"></script>
  <script src="js/gallery.js"></script>
  <script>
    var COLUMNS = 'columns';
    var ROWS = 'rows';
    var SQUARES = 'squares';

    var columns = COLUMNS;
    var rows = ROWS;
    var squares = SQUARES;

    var layoutStyle = {{ site.layout_style }};

    var configuration = {
      spacing: {{ site.spacing }},
      shuffle: {{ site.shuffle }},
      columns: {{ site.columns }},
      maxHeight: {{ site.max_height }}
    };
  </script>
  <script src="js/script.js"></script>
  {% include ga.html %}
</html>
